
#Created by Constraints Editor (xc3s1600e-fg320-5) - 2019/05/19
NET "CLK_CH<6>" TNM_NET = CLK_CH<6>;
TIMESPEC TS_CLK_CH_6_ = PERIOD "CLK_CH<6>" 20 ns HIGH 50%;
NET "CLK_CH<0>" TNM_NET = CLK_CH<0>;
TIMESPEC TS_CLK_CH_0_ = PERIOD "CLK_CH<0>" 20 ns HIGH 50%;
NET "CLK_CH<2>" TNM_NET = CLK_CH<2>;
TIMESPEC TS_CLK_CH_2_ = PERIOD "CLK_CH<2>" 20 ns HIGH 50%;
NET "CLK_CH<3>" TNM_NET = CLK_CH<3>;
TIMESPEC TS_CLK_CH_3_ = PERIOD "CLK_CH<3>" 20 ns HIGH 50%;
NET "CLK_CH<5>" TNM_NET = CLK_CH<5>;
TIMESPEC TS_CLK_CH_5_ = PERIOD "CLK_CH<5>" 20 ns HIGH 50%;
NET "CLK_CH<4>" TNM_NET = CLK_CH<4>;
TIMESPEC TS_CLK_CH_4_ = PERIOD "CLK_CH<4>" 20 ns HIGH 50%;
NET "CLK_CH<1>" TNM_NET = CLK_CH<1>;
TIMESPEC TS_CLK_CH_1_ = PERIOD "CLK_CH<1>" 20 ns HIGH 50%;
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 20 ns HIGH 50%;
INST "ADDR<0>" TNM = Addr;
INST "ADDR<1>" TNM = Addr;
INST "ADDR<2>" TNM = Addr;
TIMEGRP "Addr" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;
NET "CS" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;
INST "Din<0>" TNM = datai;
INST "Din<1>" TNM = datai;
INST "Din<2>" TNM = datai;
INST "Din<3>" TNM = datai;
INST "Din<4>" TNM = datai;
INST "Din<5>" TNM = datai;
INST "Din<6>" TNM = datai;
INST "Din<7>" TNM = datai;
TIMEGRP "datai" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;
NET "GATE_CH<0>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<0>" RISING;
NET "GATE_CH<1>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<1>" RISING;
NET "GATE_CH<2>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<2>" RISING;
NET "GATE_CH<3>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<3>" RISING;
NET "GATE_CH<4>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<4>" RISING;
NET "GATE_CH<5>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<5>" RISING;
NET "GATE_CH<6>" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_CH<6>" RISING;
INST "RD" TNM = RW;
INST "WR" TNM = RW;
TIMEGRP "RW" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;
NET "RST" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;
INST "Do<0>" TNM = datao;
INST "Do<1>" TNM = datao;
INST "Do<2>" TNM = datao;
INST "Do<3>" TNM = datao;
INST "Do<4>" TNM = datao;
INST "Do<5>" TNM = datao;
INST "Do<6>" TNM = datao;
INST "Do<7>" TNM = datao;
TIMEGRP "datao" OFFSET = OUT 20 ns AFTER "CLK";
NET "OUT_CH<0>" OFFSET = OUT 20 ns AFTER "CLK_CH<0>";
NET "OUT_CH<1>" OFFSET = OUT 20 ns AFTER "CLK_CH<1>";
NET "OUT_CH<2>" OFFSET = OUT 20 ns AFTER "CLK_CH<2>";
NET "OUT_CH<4>" OFFSET = OUT 20 ns AFTER "CLK_CH<4>";
NET "OUT_CH<6>" OFFSET = OUT 20 ns AFTER "CLK_CH<6>";
NET "OUT_CH<5>" OFFSET = OUT 20 ns AFTER "CLK_CH<5>";
NET "OUT_CH<3>" OFFSET = OUT 20 ns AFTER "CLK_CH<3>";
